@model BaiKiemTra.Models.EventImage_BIT240074

@{
    ViewData["Title"] = "Sửa hình ảnh";
}

<h1 class="mb-4">Sửa hình ảnh</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 form-check">
                <label asp-for="IsThumbnail" class="control-label form-check-label"></label>
                <input asp-for="IsThumbnail" class="form-check-input" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="EventId" class="control-label"></label>
                <select asp-for="EventId" class="form-select" asp-items="@(new SelectList(ViewBag.Events, "Id", "Name"))">
                    <option value="">-- Chọn sự kiện --</option>
                </select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>
