@model BaiKiemTra.Models.EventCategory_BIT240074

@{
    ViewData["Title"] = "Xóa loại sự kiện";
}

<h1 class="mb-4">Xóa loại sự kiện</h1>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa loại sự kiện này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
